# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# Macos
.DS_Store

# Carbonifer
**/.carbonifer*

# Local .terraform directories
**/.terraform/*
**/.terraform*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

**/__debug_bin

# vscode
.vscode

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json